<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/head :: user-header"> </head>
<body class="@@dashboard">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
    $('select').selectpicker();
</script>
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>


<div id="main-wrapper" class="front">

    <div th:replace="layouts/navbar :: user-navbar"> </div>
    <div class="page-title">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-6">
                    <div class="page-title-content">
                        <h3>[[#{add}]] [[#{item}]]</h3>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="breadcrumbs">
                        <a th:href="@{/}">[[#{home}]] </a><span><i class="ri-arrow-right-s-line"></i></span>
                        <a th:href="@{'/user/collection/view/'+${collection.id}}">[[${collection.name}]]</a><span><i class="ri-arrow-right-s-line"></i></span>
                        <a href="">[[#{add}]] [[#{item}]]</a><span><i class="ri-arrow-right-s-line"></i></span>
                        <a th:href="@{/user/tag/create}" class="btn btn-info btn-warning">[[#{add}]] [[#{tag}]]</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="upload-item section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <form  method="post" th:action="@{'/user/collection/item/'+${collection.id}+'/create'}">
                                <div class="row">
                                    <div>
                                    <div class="col-12 mb-3">
                                        <label class="form-label">[[#{name}]]</label>
                                        <input name="name" type="text" class="form-control">
                                    </div>
                                    </div>
                                    <div>
                                    <div class="col-12 mb-3">
                                        <label class="form-label">[[#{tags}]]</label>
                                    </div>
                                    </div>
                                    <div>
                                    <div class="col-12 mb-3">
                                        <select name="tagsId" class="selectpicker" multiple data-live-search="true">
                                            <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}">
                                            </option>
                                        </select>
                                    </div>
                                    </div>
                                    <div th:each="column : ${columns}">
                                        <div th:if="${column.type=='textarea'}" class="col-12 mb-3">
                                            <label class="form-label" th:text="${column.name}"></label>
                                            <textarea th:name="${column.id}" type="text" class="form-control"></textarea>
                                        </div>
                                        <div th:if="${column.type=='text'}" class="col-12 mb-3">
                                            <label class="form-label" th:text="${column.name}"></label>
                                            <input th:name="${column.id}" type="text" class="form-control">
                                        </div>
                                        <div th:if="${column.type=='number'}" class="col-12 mb-3">
                                            <label class="form-label" th:text="${column.name}"></label>
                                            <input th:name="${column.id}" type="number" class="form-control">
                                        </div>
                                        <div th:if="${column.type=='date'}" class="col-12 mb-3">
                                            <label class="form-label" th:text="${column.name}"></label>
                                            <input th:name="${column.id}" type="datetime-local" class="form-control">
                                        </div>
                                        <div th:if="${column.type=='image'}" class="col-12 mb-3">
                                            <label class="form-label" th:text="${column.name}"></label>
                                            <input th:name="${column.id}" type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-12 mb-3">
                                            <button type="submit" class="btn btn-primary btn-sm">[[#{add}]] [[#{item}]]</button>
                                            <a class="btn btn-info btn-sm" th:href="@{'/user/collection/view/'+${collection.id}}">[[#{back}]]</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="layouts/footer-top :: user-footer-top"> </div>
    <div th:replace="layouts/footer-bottom :: user-footer-bottom"> </div>

</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>

</html>