<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/master/head :: admin-header"> </head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div id="main-wrapper" class="admin">

    <div th:replace="admin/master/topheader :: admin-topheader"> </div>
    <div th:replace="admin/master/sidebar :: admin-sidebar"> </div>

    <div class="content-body">
        <div class="container">
            <div class="row">

                <div class="col-xxl-3 col-xl-12">
                    <div class="row">
                        <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                            <div class="stat-widget d-flex align-items-center">
                                <div class="widget-icon me-3 bg-primary"><span><i class="fa fa-users"></i></span>
                                </div>
                                <div class="widget-content">
                                    <h3>[[${users}]]</h3>
                                    <p>[[#{users}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                            <div class="stat-widget d-flex align-items-center">
                                <div class="widget-icon me-3 bg-secondary"><span><i class="ri-star-line"></i></span>
                                </div>
                                <div class="widget-content">
                                    <h3>[[${collections}]]</h3>
                                    <p>[[#{collections}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                            <div class="stat-widget d-flex align-items-center">
                                <div class="widget-icon me-3 bg-success"><span><i class="fa fa-list-alt"></i></span>
                                </div>
                                <div class="widget-content">
                                    <h3>[[${items}]]</h3>
                                    <p>[[#{items}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                            <div class="stat-widget d-flex align-items-center">
                                <div class="widget-icon me-3 bg-info"><span><i class="fa fa-comment"></i></span>
                                </div>
                                <div class="widget-content">
                                    <h3 th:text="${comments}"></h3>
                                    <p>[[#{comments}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                            <div class="stat-widget d-flex align-items-center">
                                <div class="widget-icon me-3 bg-danger"><span><i class="fa fa-heart"></i></span>
                                </div>
                                <div class="widget-content">
                                    <h3 th:text="${likes}"></h3>
                                    <p>[[#{likes}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-4 col-md-4 col-sm-6">
                            <div class="stat-widget d-flex align-items-center">
                                <div class="widget-icon me-3 bg-warning"><span><i class="fa fa-eye"></i></span>
                                </div>
                                <div class="widget-content">
                                    <h3 th:text="${dislikes}"></h3>
                                    <p>[[#{dislikes}]]</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/chartjs/chart.bundle.min.js}"></script>
<script th:src="@{/js/plugins/chartjs-line-init.js}"></script>
<script th:src="@{/js/plugins/chartjs-donut.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>

</html>