<div style="margin-top: 4rem;" class="bottom section-padding triangle-top-dark triangle-bottom-dark" th:fragment="user-footer-top">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-7 col-sm-8">
                <div class="bottom-logo"><img class="pb-3" th:src="@{/images/pcm.png}" alt="">
                    <p>Personal Collection Management</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-7 col-sm-8">
                <div class="bottom-widget">
                    <h4 class="widget-title">[[#{menu}]]</h4>
                    <ul>
                        <li><a th:href="@{/}">[[#{home}]]</a></li>
                        <li><a th:href="@{/}">[[#{collection}]]</a></li>
                        <li><a th:href="@{/}">[[#{item}]]</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>