<head th:fragment="admin-header">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Personal Collection Management</title>
  <meta name="description"
        content="Personal Collection Management">
  <base href="/">
  <link rel="icon" href="/images/pcm.png" type="image/png">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#locales").change(function () {
        var selectedOption = $('#locales').val();
        var currentLocation = window.location.href.split('?')[0];
        if (selectedOption != ''){
          window.location.replace(currentLocation+'?lang=' + selectedOption);
        }
      });
    });
  </script>
</head>