<div class="sidebar" th:fragment="admin-sidebar">
    <div class="brand-logo"><a class="full-logo" th:href="@{/}">
        <img th:src="@{/images/pcm.png}" alt="" ></a></div>
    <div class="menu">
        <ul>
            <li>
                <a th:href="@{/admin/dashboard}">
                    <span><i class="ri-layout-grid-fill"></i></span>
                    <span class="nav-text">[[#{dashboard}]]</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/admin/user}">
                    <span><i class="ri-user-line"></i></span>
                    <span class="nav-text">[[#{users}]]</span></a>
            </li>
            <li class="">
                <a th:href="@{/admin/topic}">
                    <span><i class="ri-stackshare-line"></i></span>
                    <span class="nav-text">[[#{topics}]]</span></a>
            </li>
            <li class="">
                <a th:href="@{/admin/tag}">
                    <span><i class="ri-steam-line"></i></span>
                    <span class="nav-text">[[#{tags}]]</span></a>
            </li>
            <li class="">
                <a th:href="@{/admin/collection}">
                    <span><i class="ri-star-line"></i></span>
                    <span class="nav-text">[[#{collections}]]</span></a>
            </li>
            <li class="">
                <a th:href="@{/admin/profile}">
                    <span><i class="ri-account-box-line"></i></span>
                    <span class="nav-text">[[#{profile}]]</span></a>
            </li>
            <li class=""><a href="/logout">
                <span><i class="ri-logout-circle-line"></i></span>
                <span class="nav-text">[[#{signout}]]</span>
               </a>
            </li>
        </ul>
    </div>
</div>