<div class="header" th:fragment="admin-topheader">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="header-content">
                    <div class="header-left">
                        <div class="brand-logo"><a class="mini-logo" href=""><img th:src="@{/images/logoi.png}" alt=""
                                                                                  width="40"></a></div>
                    </div>
                    <div class="header-right">
                        <div class="dark-light-toggle theme-switch" onclick="themeToggle()">
                            <span class="dark"><i class="ri-moon-line"></i> </span>
                            <span class="light"><i class="ri-sun-line"></i></span>
                        </div>
                        <div class="dropdown profile_log dropdown">
                            <div data-bs-toggle="dropdown">
                                <div class="user icon-menu active"><span><img th:src="@{/images/profile/3.png}" alt=""></span>
                                </div>
                            </div>
                            <div tabindex="-1" class="dropdown-menu dropdown-menu-end">
                                <div class="user-email">
                                    <div class="user">
                                        <span class="thumb">
                                            <img th:src="@{/images/profile/3.png}" alt="">
                                        </span>
                                        <div class="user-info">
                                            <h5 th:text="${#authentication.getPrincipal().getUsername()}"></h5>
                                            <span th:text="${#authentication.getPrincipal().getEmail()}"></span>
                                        </div>
                                    </div>
                                </div>
                                <a class="dropdown-item" th:href="@{/admin/profile}">
                                    <span><i class="ri-user-line"></i></span>[[#{profile}]]
                                </a>
                                <a class="dropdown-item logout" href="/logout">
                                    <i class="ri-logout-circle-line"></i>[[#{signout}]]
                                </a>
                            </div>
                        </div>
                        <div class="dropdown profile_log dropdown">
                            <div data-bs-toggle="dropdown">
                                <div class="user icon-menu active">
                                    <select id="locales" class="form-control">
                                        <option value="">[[#{language}]]</option>
                                        <option value="en">ENG</option>
                                        <option value="uz">UZB</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>