<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/head :: user-header"> </head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>


<div id="main-wrapper" class="front">

    <div th:replace="layouts/navbar :: user-navbar"> </div>
    <div class="page-title">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-6">
                    <div class="page-title-content">
                        <h3>[[#{profile}]]</h3>
                        <p class="mb-2">[[#{profile}]]</p>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="breadcrumbs"><a th:href="@{/}">[[#{home}]] </a><span><i class="ri-arrow-right-s-line"></i></span><a
                            th:href="@{/user/profile}">[[#{profile}]]</a></div>
                </div>
            </div>
        </div>


    </div>

    <div class="profile-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="settings-menu">
                        <li><a th:href="@{/user/profile}">[[#{profile}]]</a></li>
                        <li class=""><a th:href="@{/user/collection}">[[#{collection}]]</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6">
                    <div class="stat-widget d-flex align-items-center">
                        <div class="widget-icon me-3 bg-primary"><span><i class="ri-file-copy-2-line"></i></span></div>
                        <div class="widget-content">
                            <h3>24K</h3>
                            <p>Artworks</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="stat-widget d-flex align-items-center">
                        <div class="widget-icon me-3 bg-success"><span><i class="ri-file-list-3-line"></i></span></div>
                        <div class="widget-content">
                            <h3>82K</h3>
                            <p>Auction</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="stat-widget d-flex align-items-center">
                        <div class="widget-icon me-3 bg-warning"><span><i class="ri-file-paper-line"></i></span></div>
                        <div class="widget-content">
                            <h3>200</h3>
                            <p>Creators</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6">
                    <div class="stat-widget d-flex align-items-center">
                        <div class="widget-icon me-3 bg-danger"><span><i class="ri-file-paper-2-line"></i></span></div>
                        <div class="widget-content">
                            <h3>89</h3>
                            <p>Canceled</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-12">
                    <div class="card welcome-profile">
                        <div class="card-body">
                            <div style="float: right">
                                <a th:href="@{'/user/edit/'+${user.id}}" class="btn btn-success btn-sm">[[#{edit}]]</a>
                            </div>
                            <img th:src="@{/images/profile/3.png}" alt="">
                            <h4>[[${user.firstName}]] [[${user.lastName}]]</h4>
                            <p></p>
                            <ul>
                                <li><a th:href="@{/user/profile}"><span class="verified"><i class="ri-check-line"></i></span>[[#{username}]] : [[${user.username}]]</a></li>
                                <li><a th:href="@{/user/profile}"><span class="not-verified"><i
                                        class="ri-shield-check-line"></i></span>[[#{email}]] : [[${user.email}]]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="layouts/footer-top :: user-footer-top"> </div>
    <div th:replace="layouts/footer-bottom :: user-footer-bottom"> </div>

</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>

</html>