<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/master/head :: admin-header"></head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div id="main-wrapper" class="admin">

    <div th:replace="admin/master/topheader :: admin-topheader"></div>
    <div th:replace="admin/master/sidebar :: admin-sidebar"></div>

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content">
                            <h3>[[#{collections}]]</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-12">
                    <div th:if="${status}=='success'">
                        <div class="alert alert-primary" role="alert">
                            [[${message}]]
                        </div>
                    </div>

                    <div th:if="${status}=='error'">
                        <div class="alert alert-primary" role="alert">
                            [[${message}]]
                        </div>
                    </div>
                    <h4 class="card-title mb-3">[[#{collections}]] [[#{list}]]
                        <div style="float:right">
                            <a th:href="@{/admin/collection/create}"
                               class="btn btn-primary btn-sm"><i
                                    class="fa fa-plus"></i> [[#{add}]]</a>
                            <button onclick="downloadData()" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i> Export</button>
                        </div>
                    </h4>

                    <div class="card">
                        <div class="card-body">
                            <input type="text" class="form-control" id="collectionTitle" onkeyup="myFunction()"
                                   th:placeholder="#{search}" title="Type in a name">
                            <div class="table-responsive table-icon">
                                <table class="table" id="collections">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>[[#{title}]]</th>
                                        <th>[[#{topic}]]</th>
                                        <th>[[#{picture}]]</th>
                                        <th>[[#{author}]]</th>
                                        <th>[[#{totalItems}]]</th>
                                        <th colspan="3">[[#{settings}]]</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="collection,loop : ${collections}">
                                        <tr>
                                            <td th:text="${loop.index+1}"></td>
                                            <td th:text="${collection.getTitle()}"></td>
                                            <td th:text="${collection.getTopic()}"></td>
                                            <td th:if="${!#strings.equals(collection.getImageUrl(),'null')}">
                                                <img th:src="${collection.getImageUrl()}"
                                                     style="width: 80px">
                                            </td>
                                            <td th:if="${#strings.equals(collection.getImageUrl(),'null')}">
                                                <img th:src="@{/images/placeholder-image.png}" style="width: 80px">
                                            </td>
                                            <td th:text="${collection.getAuthor()}"></td>
                                            <td th:text="${collection.getTotalItems()}"></td>
                                            <td>
                                                <a th:href="@{'/admin/collection/view/'+${collection.id}}"
                                                   class="btn btn-success btn-sm"><i class="fa fa-eye"></i> </a>
                                            </td>
                                            <td>
                                                <a th:href="@{'/admin/collection/edit/'+${collection.id}}"
                                                   class="btn btn-info btn-sm"><i class="fa fa-edit"></i> </a>
                                            </td>
                                            <td>
                                                <form th:action="@{'/admin/collection/delete/'+${collection.id}}"
                                                      class="inline-flex"
                                                      method="POST">
                                                    <button onclick="return confirm('Are you sure you want to delete?');"
                                                            class="btn btn-danger btn-sm" type="submit">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, i, j, column_length, count_td;
        column_length = document.getElementById('collections').rows[0].cells.length;
        input = document.getElementById("collectionTitle");
        filter = input.value.toUpperCase();
        table = document.getElementById("collections");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            count_td = 0;
            for (j = 1; j < column_length - 1; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        count_td++;
                    }
                }
            }
            if (count_td > 0) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }

    //export to csv
    function downloadData() {
        exportTableToCSV('data.csv', ',');
    }

    function downloadCSV(csv, filename) {
        let csvFile;
        let downloadLink;

        csvFile = new Blob([csv], {type: 'text/csv'});

        downloadLink = document.createElement('a');

        downloadLink.download = filename;

        downloadLink.href = URL.createObjectURL(csvFile);

        downloadLink.style.display = "none";

        document.body.appendChild(downloadLink);

        downloadLink.click();
    }

    function exportTableToCSV(filename, separator) {
        const csv = [];
        const rows = document.querySelectorAll("table tr");

        for (let i = 0; i < rows.length; i++) {

            let row = [];

            const cols = rows[i].querySelectorAll("td, th");

            for (let j = 0; j < cols.length; j++)
                // Add double quote to make the value stay in the same column if is separated by comma
                row.push(`"${cols[j].innerText}"`);

            csv.push(row.join(separator));
        }

        // Download CSV file
        downloadCSV(csv.join("\n"), filename);
    }

</script>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>

</html>