<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/head :: user-header"> </head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>
<div id="main-wrapper" class="front">
  <div th:replace="layouts/navbar :: user-navbar"> </div>

  <div class="notable-drops section-padding bg-light triangle-top-light triangle-bottom-light">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-title text-center d-flex justify-content-between mb-3">
            <h2>Collections</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="card"><img class="img-fluid card-img-top" src="images/items/1.jpg" alt="">
            <div class="card-body">
              <div class="notable-drops-content-img"></div>
              <h4 class="card-title">Chito x Givenchy</h4>
              <p>Make your offers before 12pm EST Nov 29th</p><a href="explore.html">Explore<i
                    class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="card"><img class="img-fluid card-img-top" src="images/items/2.jpg" alt="">
            <div class="card-body">
              <div class="notable-drops-content-img"></div>
              <h4 class="card-title">The Space Cowboys</h4>
              <p>50 1/1's from Roger Allan Cleaves around the world</p><a href="explore.html">Explore<i
                    class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="card"><img class="img-fluid card-img-top" src="images/items/3.jpg" alt="">
            <div class="card-body">
              <div class="notable-drops-content-img"></div>
              <h4 class="card-title">Extra Dimensional </h4>
              <p>A collection of 100 1/1 Extra Dimensional Beings</p><a href="explore.html">Explore<i
                    class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6">
          <div class="card"><img class="img-fluid card-img-top" src="images/items/4.jpg" alt="">
            <div class="card-body">
              <div class="notable-drops-content-img"></div>
              <h4 class="card-title">Extra Dimensional</h4>
              <p>A collection of 100 1/1 Extra Dimensional Beings</p><a href="explore.html">Explore<i
                    class="bi bi-arrow-right-short"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="layouts/footer-top :: user-footer-top"> </div>
  <div th:replace="layouts/footer-bottom :: user-footer-bottom"> </div>
</div>
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/magnific-popup-init.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>