<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/head :: user-header"> </head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>
<div id="main-wrapper" class="front">
  <div th:replace="layouts/navbar :: user-navbar"> </div>

  <div class="notable-drops section-padding bg-light triangle-top-light triangle-bottom-light">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="section-title text-center d-flex justify-content-between mb-3">
            <h2>[[#{collection}]]</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <th:block th:each="collection : ${collections}">
          <div class="col-xl-3 col-lg-6 col-md-6">
            <div class="card">

              <div th:if="${!#strings.equals(collection.getImageUrl(),'null')}" class="items-img position-relative">
                <img th:src="${collection.getImageUrl()}" class="img-fluid card-img-top" style="width: 250px" height="180px">
              </div>
              <div th:if="${#strings.equals(collection.getImageUrl(),'null')}" class="items-img position-relative">
                <img  th:src="@{/images/placeholder-image.png}" class="img-fluid card-img-top" style="width: 250px" height="180px">
              </div>

              <div class="card-body">
                <div class="notable-drops-content-img"></div>
                <h4 class="card-title">[[${collection.getTitle()}]]</h4>
                <div th:if="${#strings.length(collection.getDescription())>10}">
                  <p th:text="${#strings.substring(collection.getDescription(), 0,10)}"></p>
                </div>
                <div th:if="${#strings.length(collection.getDescription())<10}">
                  <p>[[${collection.getDescription()}]]</p>
                </div>
                <div th:if="${#strings.length(collection.getAuthor())>=15}">
                  <p>[[#{author}]] : [[${#strings.substring(collection.getAuthor(), 0,15)}]]</p>
                </div>
                <div th:if="${#strings.length(collection.getAuthor())<15}">
                  <p>[[#{author}]] : [[${collection.getAuthor()}]]</p>
                </div>
                <p>[[#{totalItems}]] : [[${collection.getTotalItems()}]]</p>
                <a class="btn btn-info" th:href="@{'/collection/detail/'+${collection.getId()}}">[[#{detail}]]<i
                        class="bi bi-arrow-right-short"></i></a>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </div>
  </div>

  <div th:replace="layouts/footer-top :: user-footer-top"> </div>
  <div th:replace="layouts/footer-bottom :: user-footer-bottom"> </div>
</div>
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/magnific-popup-init.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>