<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/head :: user-header"></head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>
<div id="main-wrapper" class="front">
    <div th:replace="layouts/navbar :: user-navbar"></div>

    <div class="trending-category section-padding bg-light triangle-top-light triangle-bottom-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title text-center d-flex justify-content-between mb-3">
                        <h2>[[#{latest_items}]]</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <th:block th:each="item : ${items}">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card items">
                            <div class="card-body">
                                <div th:if="${!#strings.equals(item.getImageUrl(),'null')}"
                                     class="items-img position-relative">
                                    <img th:src="${item.getImageUrl()}" class="img-fluid rounded mb-3" alt="">
                                    <a th:href="@{'/item/detail/'+${item.getId()}}"><img
                                            th:src="@{/images/profile/3.png}" class="creator" width="50"
                                            alt=""></a>
                                </div>
                                <div th:if="${#strings.equals(item.getImageUrl(),'null')}"
                                     class="items-img position-relative">
                                    <img th:src="@{/images/placeholder-image.png}" class="img-fluid rounded mb-3"
                                         alt="">
                                    <a th:href="@{'/item/detail/'+${item.getId()}}"><img
                                            th:src="@{/images/profile/3.png}" class="creator" width="50"
                                            alt=""></a>
                                </div>
                                <a th:href="@{'/item/detail/'+${item.getId()}}">
                                    <h4 class="card-title">[[${item.getName()}]]</h4>
                                </a>
                                <p></p>
                                <div class="d-flex justify-content-between">
                                    <div class="text-start">
                                        <p class="mb-2">[[#{collection}]]</p>
                                        <h5 class="text-muted">[[#{author}]]</h5>
                                        <h5 class="text-muted">[[#{likes}]] : [[${item.getLikesCount()}]]</h5>
                                        <h5 class="text-muted">[[#{dislikes}]] : [[${item.getDisLikesCount()}]]</h5>
                                        <h5 class="text-muted">[[#{comment}]] : [[${item.getCommentCount()}]]</h5>
                                    </div>
                                    <div class="text-end">
                                        <p class="mb-2"><strong
                                                class="text-primary">[[${item.getCollection()}]]</strong></p>
                                        <div th:if="${#strings.length(item.getAuthorFullName())>10}">
                                            <h5 class="text-muted"
                                                th:text="${#strings.substring(item.getAuthorFullName(), 0,10)}"></h5>
                                        </div>
                                        <div th:if="${#strings.length(item.getAuthorFullName())<10}">
                                            <h5 class="text-muted" th:text="${item.getAuthorFullName()}"></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mt-3"><a class="btn btn-primary"
                                                                                   th:href="@{'/item/detail/'+${item.getId()}}">[[#{detail}]]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div class="notable-drops section-padding bg-light triangle-top-light triangle-bottom-light">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section-title text-center d-flex justify-content-between mb-3">
                        <h2>[[#{top_5_largest_collection}]]</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <th:block th:each="collection : ${collections}">
                    <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="card">

                            <div th:if="${!#strings.equals(collection.getImageUrl(),'null')}"
                                 class="items-img position-relative">
                                <img th:src="${collection.getImageUrl()}" class="img-fluid card-img-top"
                                     style="width: 250px" height="180px">
                            </div>
                            <div th:if="${#strings.equals(collection.getImageUrl(),'null')}"
                                 class="items-img position-relative">
                                <img th:src="@{/images/placeholder-image.png}" class="img-fluid card-img-top"
                                     style="width: 250px" height="180px">
                            </div>

                            <div class="card-body">
                                <div class="notable-drops-content-img"></div>
                                <h4 class="card-title">[[${collection.getTitle()}]]</h4>
                                <div th:if="${#strings.length(collection.getDescription())>10}">
                                    <p th:text="${#strings.substring(collection.getDescription(), 0,10)}"></p>
                                </div>
                                <div th:if="${#strings.length(collection.getDescription())<10}">
                                    <p>[[${collection.getDescription()}]]</p>
                                </div>
                                <div th:if="${#strings.length(collection.getAuthor())>=15}">
                                    <p>[[#{author}]] : [[${#strings.substring(collection.getAuthor(), 0,15)}]]</p>
                                </div>
                                <div th:if="${#strings.length(collection.getAuthor())<15}">
                                    <p>[[#{author}]] : [[${collection.getAuthor()}]]</p>
                                </div>
                                <p>[[#{totalItems}]] : [[${collection.getTotalItems()}]]</p>
                                <a class="btn btn-info" th:href="@{'/item/collection/'+${collection.getId()}}">[[#{detail}]]<i
                                        class="bi bi-arrow-right-short"></i></a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div class="top-collection section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section-title text-center">
                        <h2>[[#{tags_cloud}]]</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <th:block th:each="tag : ${tags}">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <a class="top-collection-content d-block" th:href="@{'/item/tag/'+${tag.id}}">
                            <div class="d-flex align-items-center">
                                <span class="serial"></span>
                                <div class="flex-grow-1 ms-3">
                                    <h5>[[${tag.name}]]</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>

    <div th:replace="layouts/footer-top :: user-footer-top"></div>
    <div th:replace="layouts/footer-bottom :: user-footer-bottom"></div>
</div>
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/vendor/magnific-popup/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/magnific-popup-init.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>