<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/master/head :: admin-header"></head>
<body class="@@dashboard">
<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div id="main-wrapper" class="admin">

    <div th:replace="admin/master/topheader :: admin-topheader"></div>
    <div th:replace="admin/master/sidebar :: admin-sidebar"></div>

    <div class="content-body">
        <div class="container">
            <div class="page-title">
                <div class="row align-items-center justify-content-between">
                    <div class="col-6">
                        <div class="page-title-content px-3">
                            <h3>
                                <a th:href="@{'/admin/collection/view/'+${collectionId}}" class="btn btn-success"><i
                                        class="fa fa-arrow-left"></i> [[#{back}]]</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-12">
                    <div class="top-bid">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img th:src="${!#strings.equals(item.itemImageUrl,'null') ? item.itemImageUrl : '/images/placeholder-image.png'}"
                                         class="img-fluid rounded" width="100%" height="250px">
                                    <div class="btn-group" style="padding-left: 3.5rem;padding-top: 2rem">
                                        <a th:href="@{'/likeDislike/like/add/'+${item.id}}"
                                           class="btn btn-success btn-sm"><i class="fa fa-thumbs-up">
                                            [[${likes}]]</i></a>
                                        <a th:href="@{'/likeDislike/like/view/'+${item.id}}"
                                           class="btn btn-success btn-sm"><i class="fa fa-eye"></i></a>
                                        <a th:href="@{'/likeDislike/dislike/add/'+${item.id}}"
                                           class="btn btn-danger btn-sm"><i class="fa fa-thumbs-down"></i>
                                            [[${dislikes}]]</a>
                                        <a th:href="@{'/likeDislike/dislike/view/'+${item.id}}"
                                           class="btn btn-danger btn-sm"><i class="fa fa-eye"></i></a>
                                    </div>
                                    <h4 style="padding-top: 2rem" class="card-title">[[#{comments}]]
                                        [[${comments.size()}]]</h4>
                                    <div class="bid mb-3 card">
                                        <div class="activity-content card-body py-0">
                                            <ul>
                                                <th:block th:each="comment : ${comments}">
                                                    <li class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex align-items-center">
                                                            <div class="activity-user-img me-3"><img
                                                                    th:src="@{/images/profile/3.png}" alt="" width="50">
                                                            </div>
                                                            <div class="activity-info">
                                                                <h5 class="mb-0">
                                                                    [[${comment.getCommentorFullName()}]]</h5>
                                                                <p th:text="${comment.getContent()}"></p>
                                                                <input type="hidden"
                                                                       th:id="${'content'+comment.getId()}"
                                                                       th:value="${comment.getContent()}">
                                                            </div>
                                                        </div>
                                                        <div class="text-end"><span class=" text-muted"
                                                                                    th:text="${comment.getCommentedAt()}"></span>
                                                        </div>
                                                        <div sec:authorize="isAuthenticated()">
                                                            <input type="hidden" th:value="${comment.getId()}"
                                                                   th:id="${'commentId'+comment.getId()}">
                                                            <div class="dropdown" sec:authorize="hasAnyRole('ROLE_SUPER_ADMIN','ROLE_ADMIN')">
                                                                <button type="button"
                                                                        class="btn p-0 dropdown-toggle hide-arrow bg-success"
                                                                        data-bs-toggle="dropdown">
                                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                                </button>
                                                                <div class="dropdown-menu">
                                                                    <button class="dropdown-item" th:if="${comment.getUserId()==#authentication.getPrincipal().getId()}"
                                                                            th:onclick="'editFunction(\'' + ${comment.getId()} + '\');'"
                                                                    >
                                                                        <i class="bx bx-edit-alt me-1"></i>
                                                                        <span><i
                                                                                class="fa fa-edit"></i> [[#{edit}]]</span>
                                                                    </button>
                                                                    <a class="dropdown-item"
                                                                       th:href="@{'/comment/delete/'+${comment.getId()}}"
                                                                       onclick="return confirm('Are you sure delete this comment?');">
                                                                        <i class="bx bx-trash me-1"></i>
                                                                        <span><i
                                                                                class="fa fa-trash"></i> [[#{delete}]]</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-3" th:text="${item.itemName}"></h3>
                                    <div class="d-flex align-items-center mb-3">
                                        <img th:src="@{/images/profile/3.png}" alt="" class="me-3 avatar-img">
                                        <div class="flex-grow-1">
                                            <h5 class="mb-0">[[${item.authorFullName}]]<span
                                                    class="circle bg-success"></span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mt-4 mb-4">
                                        <div class="text-start">
                                            <h4 class="mb-2">[[#{tags}]]</h4>
                                            <th:block th:each="tag : ${item.itemTag}">
                                                <a th:href="@{'/item/tag/'+${tag.id}}"><h5 class="text-muted">
                                                    #[[${tag.name}]]</h5></a>
                                            </th:block>
                                        </div>
                                        <div class="text-end">
                                            <h4 class="mb-2">[[#{created}]] : <strong class="text-primary">[[${item.dateTime}]]</strong>
                                            </h4>
                                        </div>
                                    </div>
                                    <div th:if="${item.itemCustomColumn!=null && item.itemCustomColumn.size()>0}">
                                        <th:block th:each="itemColumn : ${item.itemCustomColumn}">
                                            <p th:if="${!#strings.equals(itemColumn.type,'image')}" class="mb-3">
                                                [[${itemColumn.name}]] : [[${itemColumn.value}]]</p>
                                        </th:block>
                                    </div>
                                    <br>
                                    <div class="card" sec:authorize="isAuthenticated()">
                                        <div class="card-body">
                                            <form th:action="@{'/comment/add/'+${item.id}}" th:object="${comment}"
                                                  method="post">
                                                <div class="row">
                                                    <div class="col-xxl-12 col-xl-12 col-lg-12 mb-3">
                                                        <label class="form-label" id="addCommentText">[[#{add}]]
                                                            [[#{comment}]]
                                                        </label>
                                                        <input type="hidden" name="commentId"
                                                               id="itemCommentId">
                                                        <textarea class="form-control"
                                                                  th:field="*{content}"
                                                                  id="commentContent"></textarea>
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                    <button type="submit" id="addComment" class="btn btn-primary mr-2">
                                                        [[#{add}]]
                                                        [[#{comment}]]
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="" sec:authorize="!isAuthenticated()">
                                        <h4>[[#{plase_login_comment}]]</h4><br>
                                        <a th:href="@{/signing}" class="btn btn-primary">[[#{signin}]]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script>

    function editFunction(id) {

        console.log("Coming id : " + id);

        document.getElementById("itemCommentId").innerHTML = "";
        document.getElementById("commentContent").innerHTML = "";

        var id = document.getElementById("commentId" + id).value;
        var content = document.getElementById("content" + id).value;

        console.log("id : "+id);
        console.log("Content : " +content);

        document.getElementById("addComment").innerHTML = "Edit Comment";
        document.getElementById("addCommentText").innerHTML = "Update Comment";

        document.getElementById("itemCommentId").value = id;
        document.getElementById("commentContent").value = content;
    }

</script>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>